#app{
    width: 940px;
    background-color: white;
    margin: auto;
    font-family: "adobe-clean", sans-serif;
    color :#5C5C5C;
    line-height: 18.4px;
}

.Reviews-tab .reviews-tab-title{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 30px;
}

.one-Review-date{
    float:right;
    font-size: 14px;
}
.one-review-title{
    margin-top: 25px;
    font-size: 17px;
    font-weight: 550;
    float: left;
}
.one-Review-stars{
    margin-left: -16px;
    font-size: 14px;
    color: black;
}
.Colored-Star-review{
    color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: black;
  background: linear-gradient(90deg,black 40%, white 40%);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Colored-Star-rating{
    color: #525252;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: #525252;

}
.one-review-Content{
    width: 90%;
    margin-top: 20px;
    font-size: 13px;
}

.one-review-Helpful{
    margin-top: 5px;
    font-size: 13px;
    text-align: justify;
    line-height: 20px;
}

.report-button-one-review{
    font-size: 13px;
    color :#5C5C5C;
    text-decoration: underline;
    margin-top: -5px;
    
}
.Yes-button-one-review{
    font-size: 13px;
    color :#5C5C5C;
    margin-left: -8px;
    text-decoration: underline;
    margin-bottom: -10px;
    
}
.Vertical-Line{
    border-left: 1px solid #5C5C5C;
    height: 17px;
    margin-bottom: -3px;
    display: inline-block;
}

.Count-Helpful-Yes{
    font-size: 10px;
    display: inline-block;
}




.Reviews-seperator{
    margin-left: -16px;
    width: 105%;
}
.Review-recomendation{
    font-size: 13px;
    margin-top: 25px;
}

.Checked-recomendation-icon{
    margin-right: 7px;
}
.review-buttons-type{
    padding: 22px;
    border: 1px black solid;
    background: linear-gradient(to left, white 50%, #525252 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.5s ease;
    margin-right: 18px;
    align-items: center;
}
.review-buttons-type:hover{
    background-position:left bottom;
    color:white;
}
.reviews-buttons-space{
    margin-top: 25px;
}
#Reviews-data-container{
    margin-top: 30px;
}
#Rating-tab-Reviews{
        color: #525252 ;
        margin-top: 15px;
}
#Rate-Cacul-with-stars{
    margin: auto;
    text-align: justify;
   
}


.Stars-mini-tab-rating{
    font-size: 12px;
    margin-top: -14px;
    margin-left: 10px;
}

#rating-perceentage-para{
    margin-top: 40px;
    font-size: 14px;
    color: #525252;
    margin-bottom: 25px;
}

.Start-button-rating-tab{
    font-size: 13px;
    font-weight: 10;
    margin-left: -8px;
    color: #525252;
    text-decoration: underline;

    
}

.Stars-percentage-bar{
    width: 70%;
    height: 7px;
    margin-top: 15px;
}

#Stars-percentage-bar-5{
    background: linear-gradient(90deg,#525252 30%, #EBEBEB 30%);
}


#Stars-percentage-bar-3{

    background: linear-gradient(90deg,#525252 40%, #EBEBEB 40%);

}
#Stars-percentage-bar-2{
    background: linear-gradient(90deg,#525252 70%, #EBEBEB 70%);

}

#Stars-percentage-bar-1{
    background: linear-gradient(90deg,#525252 50%, #EBEBEB 50%);
}

.size-cursor-rate{
    margin-top: 40px;
    font-size: 14px;
    font-weight: 10;
    margin-bottom: 10px;
    margin-left: -8px;
}

.bar-for-cursor{
    width: 28%;
    height: 5px;
    margin-left: 8px;
    background:#EBEBEB ;
    display: block;
}

.size-caract-font{
    margin-top: 10px;
    font-size: 12px;
    color: #525252;
    font-weight: 20;
}
.size-scrollar-bar-container{
    margin-top: 5px;
}

#down-sort-comfort{
    position: absolute;
    font-size: 27px;
    margin-top: -25px;
    margin-left: 40%;
}


#down-sort-size{
    position: absolute;
    font-size: 27px;
    margin-top: -25px;
    
}

.Colored-Star-rating-empty{
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #525252;
    background: linear-gradient(90deg,#525252 0%, white 0%);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box {
    width: 100%;
    height: 600px;
    margin: 0 20px 0 0;
  }
  .box-two {
    overflow: auto;
  }